{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/kotoba/lang/pqh/crypto.cljk" ".cljc"
  "src/kotoba/lang/pqh/did_signal.cljk" ".cljc"
  "src/kotoba/lang/pqh/kdf.cljk" ".cljc"
  "src/kotoba/lang/pqh/pq.cljk" ".cljc"
  "src/kotoba/lang/pqh/pq_bc.cljk" ".clj"
  "src/kotoba/lang/pqh/pq_noble.cljk" ".cljs"
  "src/kotoba/lang/pqh/signal.cljk" ".cljc"
  "src/kotoba/lang/pqh/util.cljk" ".cljc"
  "test/kotoba/lang/pqh/aead_bc.cljk" ".clj"
  "test/kotoba/lang/pqh/crypto_test.cljk" ".clj"
  "test/kotoba/lang/pqh/did_signal_test.cljk" ".clj"
  "test/kotoba/lang/pqh/kdf_bc.cljk" ".clj"
  "test/kotoba/lang/pqh/kdf_test.cljk" ".clj"
  "test/kotoba/lang/pqh/pq_test.cljk" ".clj"
  "test/kotoba/lang/pqh/signal_test.cljk" ".clj"
  "test/kotoba/lang/pqh/vectors.cljk" ".cljc"}}
